.root {
  display: block;
  color: inherit;
  text-align: center;
  text-decoration: none;
}

.title {
  composes: responsiveTitle1 from './typography.module.css';
}

.leadMediaThumb {
  position: relative;

  @nest & img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.title {

}

.excerpt {
  @nest & p {
    margin: 0.5em 0;
  }

  @nest & strong {
    font-weight: 600;
  }
}

.dimensions {

}

.price {
  font-weight: 300;
  font-style: italic;
}

.priceSale {
  font-weight: 300;
  font-style: italic;
  text-decoration: line-through;
}

.sale {
  font-weight: bold;
  color: #ff0000;
}
